.form{
padding: 20px 30px 20px;
}
.container-form {
    position: absolute;
    top: 140px;
    margin-bottom: 38px;
    margin-left: 42%;
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
}
.person{
    height: 333px;
    left: 200px;
    position: relative;
}
.para{
    width: 70%;
    margin-top: 0;
    margin-left: 55px;
    margin-bottom: 1rem;
}
.sub{
    width: 190px;
    margin-top: 10px;
}
.home{
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}

input:nth-last-of-type(2){
    margin-left: 75px;
}
input:nth-last-of-type(1){
    margin-left: 70px;
}
input:nth-last-of-type(3){
    margin-left: 70px;
}
input:nth-last-of-type(4){
    margin-left: 82px;
}
input:nth-last-of-type(5){
    margin-left: 70px;
}
input:nth-last-of-type(6){
    margin-left: 64px;
}
